.overlay {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;

  &__title {
    margin: 0.8rem 0 1rem 0;
  }
}

.carousel .slide img {
  object-fit: cover;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .carousel .slide img {
    width: 100vw !important;
    height: 40vh;
  }
}

.slider {
  &-zone {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    top: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-top {
      color: #fff;
      font-size: 4vw;
      line-height: 0.7;
      letter-spacing: 2px;
      margin: 0;
      transition: all .5s ease;
      animation-delay: 1.5s;
      text-transform: uppercase;
    }

    &-middle {
      width: 42vw;
      margin: 3px 0;
      background-color: lightgray;
      border: 1px solid lightgray;
      transition: all .5s ease;
      animation-delay: .5s;
    }

    &-bottom {
      color: #007bff;
      font-size: 4vw;
      line-height: 0.74;
      margin: 0;
      transition: all .5s ease;
      animation-delay: 1.5s;
      text-transform: uppercase;
    }
  }

  &-button_down {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5vh;
    font-size: 2em;
    z-index: 2;
  }

  & i {
    animation: bounce 3s infinite;
    color: #fff;
  }
}